<div class="registration">
  <form class="reg-form">
    <mat-form-field class="reg-full-width">
      <input #userLogin matInput placeholder="Login">
    </mat-form-field>
  
    <mat-form-field class="reg-full-width">
      <input type="password" #userPassword matInput placeholder="Password">
    </mat-form-field>
  </form>
  <div class="button-row">
    <button mat-raised-button (click)="add(userLogin.value, userPassword.value)">Register</button>
    <button mat-raised-button (click)="login(userLogin.value, userPassword.value)">login</button>
  </div>
</div>