.mat-card {
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5px;
}
.head {
    display: flex;
    justify-content: space-between;
}
.nameInput {
    color: blue;
}
#name {
    color: blue;
}
#trashButton {
    color: rgb(168, 6, 6);
}